{% macro widgetBlock(title, titleSmall, content) %}
    <div class="wrapper wrapper-content animated fadeInRight">
	<div class="row">
            <div class="col-lg-12">
		<div class="ibox float-e-margins">
		<div class="ibox-title">
                    <h5>{{title}}
                        {% if not titleSmall is empty %}
                        <small>{{titleSmall}}</small>
                        {% endif %}
                    </h5>
		</div>
		<div class="ibox-content">
                    {% autoescape false %}
                    {{ content }}
                    {% endautoescape %}
                </div>
                </div>
            </div>
        </div>
    </div>
{% endmacro %}