.loginscreen .wrapper-content {
    padding: 20px 10px 10px;
}
.przypomnij-haslo .form-group label {
    width: 100%;
}
.label-form {
    display: block;
    text-align: left;
    padding-left: 5px;
}
fieldset legend {
    font-weight: 700;
    color: #676a6c;
}
.col-dane-dowodu {
    padding: 0;
}
.col-dane-dowodu .ibox-content {
    border: 1px solid #e5e6e7;
    border-top: none;
    padding: 15px 0px 20px 0px;
}
.col-dane-dowodu .ibox-title {
    border-right: 1px solid #e5e6e7;
    border-left: 1px solid #e5e6e7;
}
.col-dane-dowodu .form-group {
    width: 95%;
    margin: 0 auto;
    margin-bottom: 15px;
}
.wycenyscreen {
    width: 500px;
}
.middle-box.wycenyscreen {
    max-width: none;
}
.logo-rexi {
    margin: 20px auto
}
.fomr-wyceny-rodzaj-inwestora .col-sm-12 {
    text-align: left;
}
.fomr-wyceny-rodzaj-inwestora .col-sm-12 .form-control {
    width: 250px;
    display: inline-block;
}

.button-kopiuj-dane {
    text-align: right;
    margin: 0 15px;
}
.note-error {
    color: #ed5565;
    font-weight: bold;
}
.form_grup_content {
    border: 1px solid #e5e6e7;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    background-color: #ffffff;
    margin-bottom: 15px;
}
.form_grup_content .form-group{
    padding: 0 10px;
}
.form_grup_content h3{
    border-top: 4px solid #e7eaec;
    margin-top: 0;
    padding-top: 8px;
    padding-bottom: 7px;
    border-bottom: 1px solid #e7eaec;
    background: #f3f3f3;
}
.clear-fix {
    clear: both;
}
.wycenyscreen .hr-line-dashed {
    margin: 10px 0;
}
.wycenyscreen footer {
    margin-top: 20px;
}
.bloki_wycen_con .btn {
    position: relative;
    width: 350px;
    color: #000;
    font-weight: bold;
    margin-bottom: 20px;
    padding-top: 15px;
}
.bloki_wycen_con .btn  i {
    position: absolute;
    left: 15px;
    top: 19px;
}
.bloki_wycen_con {
    margin-top: 25px;
}