.menu-fullscreen {
	padding-top: 15px;
}
.smart-form section{
    padding: 0px 14px 0px;
}
.smart-form > div {
    padding-top: 14px;
}
.fa-danger:before {
    content: "\f00d";
}
.fa-success:before {
    content: "\f00c";
}
table th a.sorting_sortable{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAgMAAAAPPt5fAAAACVBMVEUAAADIyMjl5eVIBBP/AAAAAXRSTlMAQObYZgAAAClJREFUCNdjwAYEwGQKiGDsBJFsTA5AUoJhAqZaiDhEDVg9RC/MHEwAANsMA91AQfd/AAAAAElFTkSuQmCC) no-repeat center right;
}
table th a.sort{
    color: rgb(51, 51, 51);
    display: inline-block;
    padding-right: 24px;
}
table th a.sorting_asc {
    color: rgb(51, 51, 51);
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAAB1JREFUCNdjwAkcgPgBAwPjBwYG5h8MDOx/GAgBAKRJBBCQbHkwAAAAAElFTkSuQmCC) no-repeat center right;
}
table th a.sorting_desc{
    background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABMAAAATAQMAAABInqSPAAAABlBMVEUAAABVVVUT3Vn+AAAAAXRSTlMAQObYZgAAABxJREFUCNdjIATY/zAwMP9gYGD8AOQ8AGIHnEoBkNkEEEbbutQAAAAASUVORK5CYII=) no-repeat center right;
}
.jq-filter-user-list {
    width: 100%;
}
.avatar-row img {
    width: 100px;
    margin: 15px 15px 0;
    display: inline-block;
    vertical-align: middle;
}
.avatar-row form {
}
.tabela-wycen .btn {
    padding: 6px 12px;
}
.tabela-wycen label.input {
    height: 30px;
}

.bloki_wycen_drzewo li .fa {
    margin-right: 10px;
}
.bloki_wycen_drzewo li a {
    color: #333;
}
.user-tab-con {
    padding: 10px 10px 1px 10px;
    clear: both;
}
.user-form-avatar section label {
    width: 500px;
}

@media(max-width: 7650px) {
    .user-tab-filters .col-md-2 {
        margin-top: 5px;
    }
    .user-tab-con table th:nth-child(7),
    .user-tab-con table td:nth-child(7),
    .user-tab-con table th:nth-child(6),
    .user-tab-con table td:nth-child(6) {
        display: none;
    }
}

@media(max-width: 510px) {
    .user-form-avatar section label {
        width: 100%;
    }
    .user-tab-con table th:nth-child(4),
    .user-tab-con table td:nth-child(4),
    .user-tab-con table th:nth-child(5),
    .user-tab-con table td:nth-child(5) {
        display: none;
    }
}